.order-info {
    width: 100%;
    margin-left: 0px;

    .sender-info {
        font-weight: 600;

        .info-title {
            color: #f26522;
            font-size: 16px;
            font-weight: 600;
            margin-left: -8px;
            height: 24px;
        }

        div {

            .shop-name {
                color: #f26522;
                font-size: 15px;
            }

        }



    }
}