.manage-order-container {
    margin-right: 250px;
    margin-bottom: 24px;

    .order-info {
        width: 100%;
        margin-left: 0px;
        font-family: "Google Sans", Helvetica, Arial, sans-serif !important;

        .sender-info {
            font-weight: 600;

            .info-title {
                color: #f26522;
                font-size: 16px;
                font-weight: 600;
                margin-left: -8px;
                height: 24px;
            }

            span {

                .shop-name {
                    color: #f26522;
                    font-size: 15px;
                }

                .shop-address {
                    color: #00467f;
                }

            }

            .pick-station {
                margin-top: 11px;

                .title-pick {
                    color: #5c6873;
                    margin: 2px !important;

                    .note {
                        margin: 0 6px;
                    }
                }
            }



        }

        div {
            .return-info-check {
                .title-return {
                    display: flex;
                    margin-top: 24px;

                    .check {
                        display: flex;
                        cursor: pointer;
                        margin-right: 6px;

                        .fa-square {
                            color: #c8c8c8;
                            font-size: 16px;
                        }

                        .text {
                            color: #4b4b4b;
                            font-weight: 600;
                        }

                        .fa-question-circle {
                            color: #4b4b4b;
                            font-weight: 900;
                            margin-top: 3px;
                        }
                    }
                }

                label {
                    font-weight: 600;
                    font-size: 12px;
                    color: #4b4b4b !important;
                    margin-top: 0 !important;
                    width: 100%;
                    margin: 2px !important;
                }

                .form-control {
                    border-radius: 15px;
                }
            }

            .right {
                margin-left: 24px;
            }
        }

    }

    .left {
        margin-right: 24px;
    }

    .right {
        margin-left: 24px;
    }

    .deliver-info {


        .info-title {
            color: #f26522;
            font-size: 16px;
            font-weight: 600;
            margin-left: -8px;
            height: 24px;
        }

        label {
            font-size: 12px;
            color: #4b4b4b !important;
            margin-top: 0 !important;
            width: 100%;
            margin: 2px !important;
            font-weight: 600;
        }

        .form-control {
            border-radius: 15px;
        }
    }

    .info-product-title {
        color: #f26522;
        font-size: 16px;
        font-weight: 600;
        margin-left: -8px;
        height: 24px;
        margin-bottom: 12px;

    }

    .list-package {
        background: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, .15);
        border-radius: 12px;
        padding: 5px;
        margin-bottom: 12px;

        .package-item {
            display: flex;
            margin-bottom: 5px;

            .pick-image-container {

                .pick-image {
                    position: relative;
                    width: 40px;
                    height: 50px;
                    background: #f1f1f1;
                    font-size: 10px;
                    color: #00467f;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;

                    .pick-image-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .item-name {
                width: 30%;
                padding-top: 5px;

                .block-center {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .packet-title {
                        font-size: 12px;
                        color: #4b4b4b !important;
                        min-width: fit-content;
                    }

                    .product-input {
                        box-shadow: none;
                        position: relative;
                    }
                }
            }

            .item-code {
                width: 20%;
                padding-top: 5px;
            }

            .item-info {
                width: 40%;
                padding-top: 5px;

                .block-center {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .package-title {
                        font-size: 12px;
                        color: #4b4b4b !important;
                        min-width: fit-content;
                        font-weight: 600 !important;
                    }

                    .package-add-icon {
                        line-height: 10px !important;
                        margin-left: 5px !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }

    .custom-input {
        width: 100%;
        background: #f5f5f5;
        border-radius: 0 !important;
        border: none !important;
        border-bottom: 1px solid #d4d4d4 !important;
        height: 28px !important;
        padding: 6px;
        color: #00467f !important;
        background-color: transparent !important;
        font-size: 14px;
        overflow: visible;
        outline: none;
    }

    .custom-input:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .packet-full-info {
        .info-title {
            color: #f26522;
            font-size: 16px;
            font-weight: 600;
            margin-left: -8px;
            height: 24px;
        }

        .package-border {
            background: #fff;
            box-shadow: 0 0 4px rgba(0, 0, 0, .15);
            border-radius: 12px px;
            padding: 5px;
            margin-bottom: 12px;
            background: #fff;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
            padding: 5px;
            margin-bottom: 12px;
            margin-top: 12px;
        }

        .package-item {
            display: flex;

            .package-pick-image {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #f1f1f1;
                font-size: 10px;
                color: #00467f;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .total-weight {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35% !important;

                .total-weight-container {
                    align-items: center;
                    display: flex;
                    height: 25px !important;
                }
            }
        }

        .cost-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3px;

            .cost-container {
                width: 45% !important;

                .cost-title {
                    font-size: 12px;
                    color: #4b4b4b !important;
                    margin-top: 0 !important;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 600;
                    margin: 2px !important;

                    i {
                        cursor: pointer;
                        margin-left: 4px;
                    }


                }

                .form-control {
                    display: block;
                    width: 100%;
                    padding: 0.375rem 0.75rem;
                    line-height: 1.5;
                    color: #5c6873;
                    border: 1px solid #e4e7ea;
                    height: 40px;
                    border-radius: 16px;
                    font-size: 14px;
                    color: #4b4b4b;
                    font-weight: 600;
                    cursor: not-allowed;
                    background: #eee;
                }
            }

        }

        .check-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 8px !important;

            .check-box-container {
                width: 45% !important;

                label {
                    font-size: 12px;
                    color: #4b4b4b !important;
                    margin-top: 0 !important;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 2px !important;

                    .check-box-content {
                        font-size: 12px;
                        color: #4b4b4b !important;
                        margin-top: 0 !important;
                        width: auto;
                        font-weight: 600;

                        span {
                            margin-top: 2px;
                        }

                        input {
                            margin: 0 5px;
                            border: none;
                            background-color: #4b4b4b;
                        }

                        i {
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }



    .package-title {
        font-size: 12px;
        color: #4b4b4b !important;
        min-width: fit-content;
        font-weight: 600;
    }

    .disabled {
        cursor: not-allowed !important;
        color: #c8c8c8 !important;
    }

    .fee-info {

        .info-title {
            color: #f26522;
            font-size: 16px;
            font-weight: 600;
            margin-left: -8px;
            height: 24px;

            .info-title2 {
                color: #00467f !important;
            }
        }
    }

    .items {
        display: flex;
        margin-top: 12px;
        cursor: pointer;
        font-weight: 600;

        .check {}

        .info {
            width: 100%;
            padding-left: 4px;

            p {
                margin: 0;
            }
        }
    }


    .note-info {
        margin-right: 24px;

        .info-title {
            color: #f26522;
            font-size: 16px;
            font-weight: 600;
            margin-left: -8px;
            height: 24px;
        }

        .note-required {
            font-size: 12px;
            color: #4b4b4b !important;
            margin-top: 0 !important;
            width: 100%;
            font-weight: 600;

            i {
                margin-left: 2px;
                cursor: pointer;
            }
        }

        .drop-down-select {
            width: 100%;

            .form-control {
                border-radius: 15px;
                font-size: 1.125rem;
            }
        }
    }
}

.create-form-right {
    background: #fff;
    height: 100%;
    width: 270px;
    right: 0;
    bottom: 0;
    position: fixed;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    padding: 70px 12px 12px;
    z-index: 100;

    .create-header {

        .create-items {
            padding-bottom: 10px;
            line-height: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .create-name {
                color: #717171;
                font-weight: 600;
                font-size: 12px;
            }

            .create-price {
                color: #00467f;
                font-weight: 600;
                width: 40%;
                text-align: right;
            }
        }

        .discount-form {
            .hr {
                border-bottom: 1px solid #f5f5f5;
                margin-top: 12px !important;
            }

            .discount-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                div {
                    color: #717171 !important;
                    font-size: 12px !important;
                    font-weight: 600;
                }
            }

            .discount-body {
                position: relative !important;

                .input-discount {
                    height: 40px !important;
                    width: 240px;
                    border-radius: 16px;
                    font-size: 14px;
                    background: #fff;
                    color: #4b4b4b;
                    font-weight: 600;
                    background-color: #343a4026;
                }

                button {
                    position: absolute;
                    top: 4px;
                    right: 10px;
                    height: 32px !important;
                    width: 72px !important;
                    font-size: 14px !important;
                    padding: 0 !important;
                    border-radius: 12px !important;
                    background: #00467f !important;
                    color: #fff !important;
                    font-weight: 600 !important;
                }
            }
        }
    }

    .create-footer {
        position: absolute;
        padding-right: 24px;
        bottom: 0;
        width: 100%;
        background: #fff;
        padding-top: 6px;

        .footer-header {
            font-size: 12px;
            color: rgb(75, 75, 75);
            margin-bottom: 6px;
            margin-top: 0;
            font-weight: 600;
        }

        .footer-body {
            .footer-input {
                height: 40px !important;
                width: 240px;
                border-radius: 16px;
                font-size: 14px;
                background: #fff;
                color: #4b4b4b;
                font-weight: 600;

            }
        }

        .info-cost {
            text-align: right;
            margin-bottom: 12px;

            .info-cost-label {
                font-size: 12px;
                margin-bottom: 4px;
                margin-top: 8px;
                line-height: 13px;
                color: #00467f !important;
                font-weight: 600;
            }

            .info-cost-detail {
                font-size: 22px;
                margin-bottom: 3px;
                margin-top: 12px;
                font-weight: 600;
                line-height: 13px;
                color: #00467f !important;
            }

            span {
                color: #f26522 !important;
                font-size: 12px;
                font-weight: 600;
            }
        }

        .button-create-container {
            margin: 12px 0px;
            position: relative;
            height: 40px;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            border-radius: 0 17px 17px 0;
            position: relative;

            .button-create {
                width: 50%;
                border: none;
                font-weight: 600;
                color: rgba(0, 0, 0, .38);
                cursor: pointer;
                background: #00467f !important;
                border-radius: 16px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                transition: all .5s;
                position: absolute;
                right: 0;
            }
        }
    }
}

.preview-image {
    height: 50px;
    width: 100%;
    border: 1px solid #ddd;
    cursor: pointer;
    background: center center no-repeat;
    background-size: contain;

}