.manageWh-body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, #7c89d5, #f599a5);


    .container {
        display: flex;
        justify-content: center;

        img {
            margin-top: 50px;
            width: 100%;
        }

        .manageWh-warn {
            text-align: center;
            color: #f26522;
            font-size: 16px;
            font-weight: 600;
            outline-offset: -1px;
            outline: rgb(255, 87, 34) solid 1px !important;
            padding: 12px;
            font-size: 16px;
            color: #00467f;
            font-weight: 600;
            margin-top: 10px;
        }
    }
}


.manageWh-main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, #7c89d5, #f599a5);

    .ln {
        border: 2px solid grey;
    }

    .info-warehouse {
        display: flex;
        flex-direction: column;
    }

    * {
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(to top right, #7c89d5, #f599a5);
        font-size: 12px;
    }

    .center {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 88vh;
        max-width: 1400px;
        display: flex;
    }

    .inspiration {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-family: 'Gill Sans', sans-serif;
        color: #fff;
    }

    .left {
        flex: 0 0 150px;
        width: 150px;
        height: 100%;
        background-color: #fff;
        color: #848697;
        border-radius: 3px 0 0 3px;
    }

    .logo {
        position: relative;
        top: 10px;
        height: 100px;
    }

    .company {
        text-align: center;
    }

    .company .company-name {
        font-weight: bold;
        color: #333;
    }

    .company .company-description {
        position: relative;
        margin: 10px auto;
        width: 100px;
        font-size: 10px;
    }

    .navigation {
        position: relative;
        display: block;
        margin-top: 50px;
    }

    .navigation li {
        padding: 0px 25px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .navigation li i {
        font-size: 20px;
    }

    .navigation li span {
        padding-left: 15px;
        vertical-align: super;
    }

    .right {
        flex: 1 1 auto;
        background-color: #f6f6fc;
        padding: 30px;
        border-radius: 0 3px 3px 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .right .title {
        font-size: 25px;
        font-weight: bold;
        margin-top: 8px !important;
    }

    .right .description {
        margin-top: 5px;
        margin-bottom: 20px;
        color: #808080;
    }

    .add-btn {
        border: none;
        background-color: #00467f;
        color: white;
        font-weight: 600;
        outline: none;
        margin-top: 10px;

        &:hover {
            opacity: 0.9;
        }
    }

}