html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 165, 0);
    --secondary-color: rgb(0, 70, 127);
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app_header {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    border: none;
    height: 64px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1000000;

    .body {
        margin: 0px
    }

    .app_header__brand {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 64px;
        padding: 0;
        margin-right: 0;
        background: rgba(0, 70, 127, 0.98);

    }

    .brand_text {
        color: rgba(255, 0, 0, 0.9);
        font-size: 15px;
        font-family: 'Bruno Ace SC', cursive !important;
        margin-right: 20px;
    }

    .brand-logo {
        width: 75px;
    }

    .button_switch {
        background-color: transparent;
        border-style: none;
        height: 16px;
        width: 25px;
        margin-left: 16px;

    }

    .app_header__shop-switch {
        height: 48px;
        width: 280px;
        background: #fff;
        border-radius: 48px;
        display: flex;
        align-items: center;
        box-shadow: 2px 2px 2px 2px rgba(255, 165, 0, 0.1);
    }

    .shop-switch__text-box {
        display: flex;
        align-items: center;
        width: 240px;
        height: 36px;
    }

    .shop-witch_icon-box {
        height: 32px;
        width: 32px;
        border: 2px solid var(--primary-color);
        background: #fff;
        margin-left: 6px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
    }

    .shop-swtich__text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        margin-left: 8px;
        font-size: 16px;
        line-height: 20px;
        color: var(--secondary-color);
        margin-left: 4px;
        font-weight: 600;
        font-family: "Google Sans", Helvetica, Arial, sans-serif !important;

    }

    .shop-witch_icon {
        color: var(--primary-color);
    }

    .shop-switch__drop-down-icon-box {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        margin-left: 12px;
    }

    .shop-switch__drop-down-icon {
        color: var(--secondary-color)
    }

    .app_header__help-icon-box {
        width: 13px;
        height: 13px;
        margin-left: 12px;
    }

    .app_header__help-icon {
        font-size: 14px;
    }

    .app_header__search {
        width: 25%;
        margin: auto;
        display: block;

    }

    .app_header__search-group {
        display: flex;
        width: 100%;
    }

    .search-group__icon {
        display: flex;
        white-space: nowrap;
        vertical-align: middle;
    }

    .btn_search {
        background: none;
        border: none;
        color: grey;
        font-size: 18px;
        padding: 4px;
    }

    .form_search {
        border: none;
        padding: 4px;
        height: 40px;
        border-radius: 16px;
        font-size: 14px;
        background: #fff;
        font-weight: 600;
        display: block;
        width: 100%;
        outline: 0;
        color: #4b4b4b !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    }

    .btn_header {
        width: 163px;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        height: 40px !important;
        border-radius: 16px !important;
        border: none !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        padding-bottom: 4px !important;
        background: var(--primary-color) !important;
        text-align: center;
        vertical-align: middle;
        text-decoration: none !important;
    }

    .btn_header .fas {
        padding-right: 8px;
    }

    .app_header__notification {
        margin-right: 24px !important;
        margin-left: 12px !important;
        position: relative;
        min-width: 50px;
        margin: 0;
        text-align: center;
    }

    .fas.fa-bell {
        font-size: 20px;
        color: #082952;
    }
}


.app_body {
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;

    .app_body__slidebar {
        height: calc(100vh - 55px);
        margin-left: 0;
        position: fixed;
        z-index: 1019;
        width: 200px;
        flex: 0 0 200px;
        order: -1;
        overflow-x: hidden;
        background: var(--secondary-color) !important;
        display: flex;
        flex-direction: column;
        padding: 0;
        color: #fff;
    }

    .user_info {
        margin: 12px 4px;
        display: flex;
    }

    .avatar_logo {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        position: relative;
    }

    .user_img {
        max-width: 100%;
        height: auto;
        border-radius: 50em;
        vertical-align: initial;
    }

    .user_name {
        margin-left: 8px;
        width: 65%;
    }

    .user_name a {
        color: #fff;
        text-decoration: none !important;
        font-family: "Google Sans", Helvetica, Arial, sans-serif !important;
        font-size: 12px;
        text-align: left;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .connect_form {
        height: 75px;
        background: #60ae7d;
        width: 100%;
        border-radius: 37.5px 0 0 37.5px;
        margin: 0 0 12px 12px;
        display: flex;
        padding-left: 8px;
        align-items: center;
    }

    .connect_form__avatar {
        flex-basis: 60px;
        font-size: 30px;
        height: 60px;
        line-height: 60px;
        width: 60px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .connect_form__avatar img {
        max-width: 100%;
        height: auto;
        border-radius: 50em;
        vertical-align: initial;
    }

    .connect_form__info {
        padding-left: 8px;
        line-height: 16px;
    }

    .info_text1 {
        font-size: 11px !important;
        opacity: .6;
    }

    .info_text2 {
        font-size: 14px !important;
        color: #fff;
    }

    .slidebar_menu {
        color: #FFF;

    }

    .slidebar_menu__body {
        height: calc(100vh - 370px);
        overflow: auto;
    }

    .slidebar_menu__body a {
        font-weight: 500;
        text-decoration: none !important;
    }

    .item_menu {
        height: 46px;
        display: flex;
        align-items: center;
        padding-left: 18px;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 500;
    }

    .item_menu i {
        color: #fff;
        font-size: 14px;
    }

    .text_block {
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 500;
        line-height: 1.5;
        font-size: 14px;
        margin-left: 8px;
    }

    .text_version {
        text-align: center !important;
        padding-bottom: 8px !important;
        font-size: 8px !important;
        color: #fff;
    }

    .uit {
        width: 200px;
        height: 51px;
        margin-bottom: 10px;
    }

    .uit a {
        text-decoration: none !important;
    }

    .uit a img {
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .school-info {
        position: absolute;
        bottom: 0
    }

    .body_content {
        width: 100%;

        margin-left: 200px;
    }

    .activate {
        background-color: #f26522
    }
}