.update-container {

    height: 100vh;
    width: 100%;
    background: linear-gradient(to top right, #7c89d5, #f599a5);

    .update-content {
        text-align: center;
        position: fixed;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: calc(50% + -100px);
        left: calc(50% + 10px);

        .image {
            width: 80%;
        }

        .update-text {
            outline-offset: -1px;
            outline: rgb(255, 87, 34) solid 1px !important;
            padding: 12px;
            font-size: 16px;
            color: #00467f;
            font-weight: 600;
            margin-top: 10px;

        }
    }
}