.section-partner {
    padding: 30px 0 0;

    .container {
        width: 1250px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .s-title {
            position: relative;

            h2 {
                font-family: 'Montserrat', Helvetica, sans-serif;
                font-size: 28px;
                line-height: initial;
                color: #00467f;
                text-transform: uppercase;
                margin-bottom: 60px;
                font-weight: bold;

                span {
                    color: #f26522;
                }
            }

        }

        .row {
            .utube-video {
                width: 100%;

                iframe {
                    border-style: none;
                    width: 100%;
                    height: 549px;
                }


            }

            .partner {
                background-color: #f5f5f5;

                .item-slide {
                    margin-top: 10px;
                    background: #fff;
                    overflow: hidden;
                    border-radius: 10px;


                    .item-image {
                        align-items: center;
                        justify-content: center;
                        display: flex;

                        img {
                            margin-top: 10px;
                            border-radius: 50%;
                            height: 220px;
                            padding: 3px;
                            border: 2px solid rgb(174, 173, 173);
                        }
                    }

                    .item-body {
                        text-align: center;
                        padding: 0 15px 15px;

                        .body-logo {
                            margin: 15px 0 5px;

                            img {
                                margin: auto;
                                height: 35px;

                            }
                        }

                        .body-txt {

                            color: #3d5067;
                            min-height: 95px;
                            margin: 5px 15px;
                        }

                        .body-line {
                            border-top: 1px solid #8ebbfb !important;
                            margin: 10px 0;
                        }

                        .body-name {
                            color: #3d5067;
                            font-size: 18px;
                            margin: 0;
                            font-family: 'Montserrat', Helvetica, sans-serif;
                            font-weight: 500;
                        }

                        small {
                            color: #3d5067;
                            font-size: 85%;
                        }
                    }
                }
            }
        }
    }
}