.home-header-container {
    height: 65px;
    width: 100%;
    padding: 0 20px;


    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;

            align-items: center;
            justify-content: center;
            display: flex;

            .header-logo {
                background: url(../../assets/logo-giaohangle.png) center center no-repeat;
                height: 100%;
                width: 50%;
                cursor: pointer;

            }

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }

        .center-content {
            width: 45%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                text-transform: uppercase;
                font-size: 13px;

                div {
                    cursor: pointer;
                }
            }
        }

        .right-content {
            width: 30%;

            display: flex;
            align-items: center;
            justify-content: center;

            .language-vi {
                margin-left: 10px;
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    color: orange;
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                margin-left: 10px;
                cursor: pointer;

                opacity: 0.2;

                &.active {
                    color: blue;
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }

            button {
                display: inline-flex;
                font-size: 10px;
                padding: 0 12px;
                height: 40px;
                line-height: 40px;
                border-radius: 5px;
                font-weight: bold;
                color: #fff;
                border: 1px solid #f26522;
                outline: none;
                background-color: #f26522;
                text-transform: uppercase;
                margin-right: 20px;
            }

            .search-form {
                padding: 0;
                margin: 0;
                border: 1px solid #00467f;
                border-radius: 5px;
                width: 300px;
                display: flex;
                align-items: center;


                input {
                    color: #575757;
                    display: block;
                    margin: 0;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    width: 100%;
                    height: 38px;
                    padding: 3px 35px 3px 10px;
                    background: #fff;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                }

                i {
                    margin-right: 20px;
                }

            }

        }
    }
}

.home-header-banner {


    .header-banner-img {
        background: url('../../assets/banner-header4.webp') center center no-repeat;
        height: 700px;
        width: 100%;
        animation: change 25s infinite ease-in;
    }

    .slick-slide-list {
        height: 85px;
        border-bottom: 1px solid grey;
        display: flex;

        .slide-info {
            width: 25%;
            border-right: 1px solid #ccc;
            padding: 0 15px;
            margin: 15px 0;


            p {
                margin-top: 5px;
                text-align: center;
                font-size: 12px;
                color: grey;

            }
        }
    }

    @keyframes change {
        0% {
            background: url('../../assets/banner-header4.webp') center center no-repeat;
        }

        25% {
            background: url('../../assets/banner-header3.webp') center center no-repeat;
        }

        50% {
            background: url('../../assets/banner-header2.webp') center center no-repeat;
        }

        75% {
            background: url('../../assets/banner-header1.webp') center center no-repeat;
        }

        100% {
            background: url('../../assets/banner-header4.webp') center center no-repeat;
        }
    }


}


.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100000;
}

a {
    text-decoration: none;
    color: #575757;
}


.link-href {
    &:hover {
        color: #f26522;
    }
}

.dropdown-news {

    position: absolute;
    top: 65px;
    right: 621px;
    background-color: white;
    width: 335px;
    padding: 5px;

    &::before {
        cursor: pointer;
        content: "";
        position: absolute;
        right: 270px;
        top: -55px;
        border-width: 30px 20px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }

    .dropdownItem {
        .item {
            padding: 6px 15px;
            white-space: nowrap;
            text-align: left;
            display: block;

            &:hover {
                color: #f26522;
                text-decoration: none;
                outline: none;
            }
        }
    }
}

ul {
    list-style: none;
}

.menu-service {
    opacity: 1;
    visibility: visible;
    width: 600px;
    position: absolute;
    left: -267px;
    background: white;
    z-index: 4;
    padding: 15px;
    top: 42px;

    &::after {
        cursor: pointer;
        content: "";
        position: absolute;
        right: 265px;
        top: -67px;
        border-width: 40px 40px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }

    .menu-flex {
        display: flex;
        flex-direction: row-reverse;

        .menu-list {
            width: 100%;
            border: 1px solid #f26522;
            border-bottom: none;
            flex-flow: row wrap;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            padding-left: 0;

            .last {
                width: 100% !important;
                border-right: none !important;
            }

            .menu-item {
                border-right: 1px solid #f26522;
                border-left: 1px solid transparent;
                width: 50%;
                float: left;
                padding: 15px 10px 10px;
                border-bottom: 1px solid #f26522;

                .menu-link {
                    color: #0c1325;
                    text-decoration: none;
                    outline: none;

                    .menu-icon {
                        width: 40px;
                        height: 40px;
                        background: #f15b1f;
                        border-radius: 50%;
                        border: 1px solid #f15b1f;
                        float: left;
                    }

                    .menu-text {
                        width: calc(100% - 40px);
                        padding-left: 10px;
                        float: left;

                        .col-text {
                            color: #00467f;
                            font-size: 13px;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin: 8px 0 10px;
                            line-height: 1.2;
                        }

                        p {
                            font-size: 12px;
                            overflow: hidden;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            margin: 0 0 10px;

                            &:hover {
                                color: #f26522;
                            }
                        }
                    }
                }
            }
        }
    }
}