.home-header-container {
    height: 65px;
    width: 100%;
    padding: 0 20px;


    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;

            align-items: center;
            justify-content: center;
            display: flex;

            .header-logo {
                background: url(../../assets/logo-giaohangle.png) center center no-repeat;
                height: 100%;
                width: 50%;
                cursor: pointer;

            }

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }

        .center-content {
            width: 45%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                text-transform: uppercase;
                font-size: 13px;
            }
        }

        .right-content {
            width: 30%;

            display: flex;
            align-items: center;
            justify-content: center;

            .language-vi {
                margin-left: 10px;
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    color: orange;
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                margin-left: 10px;
                cursor: pointer;

                opacity: 0.2;

                &.active {
                    color: blue;
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }

            button {
                display: inline-flex;
                font-size: 10px;
                padding: 0 12px;
                height: 40px;
                line-height: 40px;
                border-radius: 5px;
                font-weight: bold;
                color: #fff;
                border: 1px solid #f26522;
                outline: none;
                background-color: #f26522;
                text-transform: uppercase;
                margin-right: 20px;
            }

            .search-form {
                padding: 0;
                margin: 0;
                border: 1px solid #00467f;
                border-radius: 5px;
                width: 300px;
                display: flex;
                align-items: center;


                input {
                    color: #575757;
                    display: block;
                    margin: 0;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    width: 100%;
                    height: 38px;
                    padding: 3px 35px 3px 10px;
                    background: #fff;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                }

                i {
                    margin-right: 20px;
                }

            }

        }
    }
}

.home-header-banner {


    .header-banner-img {
        background: url('../../assets/banner-header4.webp') center center no-repeat;
        height: 700px;
        width: 100%;
        animation: change 25s infinite ease-in;
    }

    .slick-slide-list {
        height: 85px;
        border-bottom: 1px solid grey;
        display: flex;

        .slick-slide {
            width: 25%;
            border-right: 1px solid #ccc;
            padding: 0 15px;
            margin: 15px 0;


            p {
                margin-top: 5px;
                text-align: center;
                font-size: 12px;
                color: grey;

            }
        }
    }

    @keyframes change {
        0% {
            background: url('../../assets/banner-header4.webp') center center no-repeat;
        }

        25% {
            background: url('../../assets/banner-header3.webp') center center no-repeat;
        }

        50% {
            background: url('../../assets/banner-header2.webp') center center no-repeat;
        }

        75% {
            background: url('../../assets/banner-header1.webp') center center no-repeat;
        }

        100% {
            background: url('../../assets/banner-header4.webp') center center no-repeat;
        }
    }


}